@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

* { font-family: 'Poppins', sans-serif }

body { margin: 0 }

a { cursor: pointer }

:root {
    --blue: #1767AC;
    --green: #29A862;
}

.page-title { margin-top: 3rem }

.btn, .p-button {
    font-size: 15px !important;
    border-radius: 6px;
    padding: 6px 12px;
    box-shadow: none;
    font-weight: 500;
}

.logo-details span:first-child { font-size: 24px }
.logo-details span:last-child { font-size: 14px }

.p-sidebar .p-sidebar-header {
    display: flex;
    justify-content: space-between;
}

.p-sidebar-full {
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    color: white;
    padding: 0rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(48px);
    border-radius: 22px;
    overflow: hidden;
}

.p-sidebar-close {
    color: white;
    border-radius: 6px;
}

.p-sidebar-close:hover {
    color: black;
}

.p-sidebar .p-sidebar-content {
    padding: 0rem;
}

@keyframes down {
    0% { transform: translateY(-50px) }
    100% { transform: translateY(0px) }
}