<!-- HEADER -->
<div class="header  page-title">
    <div class="container-lg">
        <div class="d-flex flex-sm-row flex-column">
            <div class="d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-sm-start gap-3">
                <div>
                    <img class="img-fluid" src="assets/logo.png" width="85px" alt="logo">
                </div>
                <div class="logo-details text-center text-sm-start d-flex flex-column ">
                    <span class="fw-semibold lh-1">ÓTICAS CRICARÉ</span>
                    <span>Sempre com você</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="carousel-wrapper mt-5">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <a class="carousel-item active" data-bs-interval="2500">
            <img src="assets/image-fem-2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <span class="carousel-title">FEMININOS</span>
            </div>
          </a>
          <a class="carousel-item" data-bs-interval="2500">
            <img src="assets/image-masc.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <span class="carousel-title">MASCULINOS</span>
            </div>
          </a>
          <a class="carousel-item" data-bs-interval="2500">
            <img src="assets/image-fem.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <span class="carousel-title">COM GRAU</span>
            </div>
          </a>
          <a class="carousel-item" data-bs-interval="2500">
            <img src="assets/image-sunglasses-2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <span class="carousel-title">SOLARES</span>
            </div>
          </a>
          <a class="carousel-item" data-bs-interval="2500">
            <img src="assets/image-child.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <span class="carousel-title">INFANTIS</span>
            </div>
          </a>
          <a class="carousel-item" data-bs-interval="2500">
            <img src="assets/image-lens.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <span class="carousel-title">LENTES</span>
            </div>
          </a>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container-lg container-full">
    <div class="banners d-flex flex-column justify-content-between flex-sm-row gap-2 overflow-hidden">
        <div class="imagem-wrapper" pRipple #banner1>
            <a>
                <span class="banner-title md">FEMININOS</span>
                <span class="banner-button"><i class="bi bi-box-arrow-up-right"></i></span>
                <img class="img-fluid" src="assets/image-fem-2.png" alt="banner-1">
            </a>
        </div>
        <div class="imagem-wrapper" pRipple #banner2>
            <a>
                <span class="banner-title md">MASCULINOS</span>
                <span class="banner-button"><i class="bi bi-box-arrow-up-right"></i></span>
                <img class="img-fluid" src="assets/image-masc.jpg" alt="banner-2">
            </a>
        </div>
        <div class="d-flex flex-column justify-content-between gap-2">
            <div class="imagem-wrapper-sm" pRipple #banner3>
                <a>
                    <span class="banner-title sm">COM GRAU</span>
                    <span class="banner-button"><i class="bi bi-box-arrow-up-right"></i></span>
                    <img class="img-fluid" src="assets/image-fem.png" alt="banner-3">
                </a>
            </div>
            <div class="imagem-wrapper-sm" pRipple #banner4>
                <a>
                    <span class="banner-title sm">SOLARES</span>
                    <span class="banner-button"><i class="bi bi-box-arrow-up-right"></i></span>
                    <img class="img-fluid" src="assets/image-sunglasses-2.png" alt="banner-4">
                </a>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between gap-2">
            <div class="imagem-wrapper-sm" pRipple #banner5>
                <a>
                    <span class="banner-title sm">INFANTIS</span>
                    <span class="banner-button"><i class="bi bi-box-arrow-up-right"></i></span>
                    <img class="img-fluid" src="assets/image-child.jpg" alt="banner-5">
                </a>
            </div>
            <div class="imagem-wrapper-sm" pRipple #banner6>
                <a>
                    <span class="banner-title sm">LENTES</span>
                    <span class="banner-button"><i class="bi bi-box-arrow-up-right"></i></span>
                    <img class="img-fluid" src="assets/image-lens.jpg" alt="banner-6">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section-details-1">
    <div #section1fadein class="container-lg">
        <div class="d-flex flex-column justify-content-center align-items-center overflow-hidden">
            <div class="d-flex align-items-center section-card">
                <div class="image-details">
                    <img class="d-block w-100 h-100" src="assets/rayban.png" alt="">
                </div>
                <div class="d-flex flex-column text-details p-5 gap-3">
                    <span class="fw-semibold fs-5">A Lenda dos Óculos que Transcende Gerações</span>
                    <span class="text-body-secondary fw-light">
                        A icônica coleção de óculos Ray-Ban e explore a combinação perfeita de estilo atemporal.
                    </span>
                    <div>
                        <button pRipple class="btn">SAIBA MAIS</button>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center section-card">
                <div class="d-flex flex-column text-details p-5 gap-3">
                    <span class="fw-semibold fs-5">Liberdade das Lentes de Contato</span>
                    <span class="text-body-secondary fw-light">
                        Lentes de contato que se adaptam perfeitamente à sua rotina e estilo de vida.
                    </span>
                    <div>
                        <button pRipple class="btn">SAIBA MAIS</button>
                    </div>
                </div>
                <div class="image-details first">
                    <img class="d-block w-100" src="assets/lens.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl">
    <div class="slide-wrapper py-5">
        <div class="item-slide oculos">
            <a> <img src="assets/oc.jpg" alt=""></a>
            <a><img src="assets/oc-1.jpg" alt=""></a>
            <a><img src="assets/oc-2.jpg" alt=""></a>
            <a><img src="assets/oc-3.jpg" alt=""></a>
            <a><img src="assets/oc-4.jpg" alt=""></a>
            <a> <img src="assets/oc-5.jpg" alt=""></a>
        </div>
        <div class="item-slide oculos">
            <a> <img src="assets/oc.jpg" alt=""></a>
            <a><img src="assets/oc-1.jpg" alt=""></a>
            <a><img src="assets/oc-2.jpg" alt=""></a>
            <a><img src="assets/oc-3.jpg" alt=""></a>
            <a><img src="assets/oc-4.jpg" alt=""></a>
            <a> <img src="assets/oc-5.jpg" alt=""></a>
        </div>
        <div class="square-right"></div>
        <div class="square-left"></div>
    </div>
</div>

<div class="container-xxl">
    <div class="video-wrapper">
        <div #video class="video-container-md">
            <video [autoplay]="true" [muted]="true" [loop]="true" src="assets/video-md.mp4"></video>
        </div>
        <div class="no-video">
            <img class="img-fluid" src="assets/no-video.png" alt="">
        </div>
    </div>
</div>

<div class="container-xxl">
    <div class="slide-wrapper py-5">
        <div class="item-slide marcas">
            <a> <img src="assets/logo-oakley.png" alt=""></a>
            <a><img src="assets/logo-rayban.png" alt=""></a>
            <a><img src="assets/logo-giorgi.png" alt=""></a>
            <a><img src="assets/logo-vogue.png" alt=""></a>
            <a><img src="assets/logo-tec.png" alt=""></a>
            <a> <img src="assets/logo-grazi.png" alt=""></a>
        </div>
        <div class="item-slide marcas">
            <a> <img src="assets/logo-oakley.png" alt=""></a>
            <a><img src="assets/logo-rayban.png" alt=""></a>
            <a><img src="assets/logo-giorgi.png" alt=""></a>
            <a><img src="assets/logo-vogue.png" alt=""></a>
            <a><img src="assets/logo-tec.png" alt=""></a>
            <a> <img src="assets/logo-grazi.png" alt=""></a>
        </div>
        <div class="square-right"></div>
        <div class="square-left"></div>
    </div>
</div>