.carousel-wrapper {
    display: none;
}

.carousel, .carousel-caption {
    height: 250px;
    overflow: hidden;
}

.carousel img {
    filter: brightness(80%);
}

.carousel-caption {
    top: 87px;
}

.carousel-title {
    font-family: 'Bowlby One', sans-serif !important;
    font-size: 24px;
    letter-spacing: 7px;
}

.carousel-btn {
    background-color: var(--blue);
    backdrop-filter: blur(4px);
    border-radius: 32px;
    padding: 0.4rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.banners {
    margin: 2.5rem 0rem 6rem 0rem;
    border-radius: 18px;
}

.imagem-wrapper {
    position: relative;
    width: 400px;
}

.imagem-wrapper-sm {
    position: relative;
    max-width: 195px;
}

.sm {
    font-size: 14px;
}

.md {
    font-size: 28px;
}

.bg-text {
    font-family: 'Bowlby One', sans-serif !important;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 56px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(117, 117, 117);
    letter-spacing: 7px;
    line-height: 38px;
}

.banner-title {
    font-family: 'Bowlby One', sans-serif !important;
    position: absolute;
    bottom: 40%;
    left: 50%;
    z-index: 2;
    font-weight: 300;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    letter-spacing: 4px;
}

.banner-button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: white;
    font-weight: 600;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 18px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
}

.banners .img-fluid, .imagem-wrapper, .imagem-wrapper-sm {
    border-radius: 18px;
}

.banners .img-fluid {
    overflow: hidden;
    transition: all 0.3s ease-out;
    filter: brightness(50%);
}

.imagem-wrapper:hover, .imagem-wrapper-sm:hover {
    .img-fluid {
        transform: scale(1.1);
        filter: brightness(100%) blur(2px);
    };

    .banner-button {
        background-color: var(--blue);
    }
}

.video-container-md, .video-container-sm {
    overflow: hidden;
    width: 100%;
    max-height: 400px;
}

.video-container-md video, .video-container-sm video {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 577px) {
    .video-container-sm { display: none }
}

@media (max-width: 576px) {
    .video-container-md { display: none }
    .video-container-md, .video-container-sm { height: auto }
    .imagem-wrapper {
        width: 100%;
        height: 200px;
    }

    .imagem-wrapper-sm {
        height: 200px;
        max-width: 100%;
    }

    .sm { font-size: 24px }
}

@media (max-width: 768px) {
    .carousel-wrapper {
        display: block;
    }

    .container-full {
        display: none;
    }
}

@media (max-width: 2120px) {
    .container-xxl {
        max-width: 100%;
        padding: 0;
    }
}