<!-- HEADER -->
<div class="container-lg page-title">
    <div class="d-flex flex-sm-row flex-column justify-content-between gap-4">
        <div class="d-flex align-items-center flex-sm-row flex-column gap-3">
            <div>
                <img class="img-fluid" src="assets/logo.png" width="85px" alt="logo">
            </div>
            <div class="logo-details d-flex flex-column text-sm-start text-center">
                <span class="fw-bold">ÓTICAS CRICARÉ</span>
                <span>Sempre com você</span>
            </div>
        </div>
        <div class="otica-info d-flex flex-column gap-1 text-center">
            <div>
                <i class="bi bi-geo-alt fs-5 pe-2"></i>
                <span class="fw-medium">Nova Venécia-ES</span>
            </div>
            <div>
                <i class="bi bi-whatsapp pe-2 text-decoration-none"></i>
                <span class="fw-medium">(27) 9 9999-9999</span>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT -->
<div class="container-lg">
    <div class="main-content-banners d-flex flex-sm-row flex-column justify-content-around gap-4">
        <div pRipple #banner1>
            <a>
                <span class="span-title">ÓCULOS DE SOL</span>
                <span class="span-subtitle">ACESSAR</span>
                <img class="img-banner img-fluid" src="assets/image-sunglasses.png" alt="banner-1">
            </a>
        </div>
        <div pRipple #banner2>
            <a>
                <span class="span-title">ÓCULOS FEMININOS</span>
                <span class="span-subtitle">ACESSAR</span>
                <img class="img-banner img-fluid" src="assets/image-fem.png" alt="banner-2">
            </a>
        </div>
        <div pRipple #banner3>
            <a>
                <span class="span-title">ÓCULOS MASCULINOS</span>
                <span class="span-subtitle">ACESSAR</span>
                <img class="img-banner img-fluid" src="assets/image-masc.jpg" alt="banner-3">
            </a>
        </div>
    </div>
</div>

<div class="container-xxl">
    <div #video class="video-container-md">
        <video [autoplay]="true" [muted]="true" [loop]="true" src="assets/video-md.mp4"></video>
    </div>
    
    <div #video class="video-container-sm">
        <video [autoplay]="true" [muted]="true" [loop]="true" src="assets/video-sm.mp4"></video>
    </div>
</div>

<div class="container-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nisi aliquam, impedit saepe quas hic molestias nam fugit explicabo dicta deleniti est porro optio ex reiciendis nostrum ratione fugiat error, perferendis quia beatae, rerum tempora? Corrupti adipisci sunt nemo quae qui nesciunt suscipit culpa dolore, ex eaque cumque quidem, incidunt ad fuga illo, dignissimos exercitationem autem eveniet eum in officiis. Recusandae ad repellat blanditiis vitae illum pariatur voluptatibus, facilis, sit aut vero asperiores dolorem ea saepe accusamus sunt optio! Eveniet animi fugit est voluptas debitis itaque a voluptate! Hic optio repudiandae voluptatem sed voluptatibus error earum dicta doloremque nulla ex!
</div>
