.fixed-top { 
    top: 25px;
}

.nav-btn {
    border-radius: 10px;
    padding: 4px 8px;
    color: white !important;
    transition: none;
    border: none;
    background-color: #1e407256 !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}