.navbar {
    display: none;
}

.navbar-block {
    display: block;
    animation: down 600ms;
    animation-timing-function: ease;
}

.otica-info { font-size: 14px }

.nav-btn {
    border-radius: 10px;
    padding: 4px 8px;
    transition: none;
    color: white !important;
    border: none;
    background-color: var(--blue) !important;
}

.bg-nav {
    padding: 1rem 0rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.logo-details {
    font-size: 13px;
    color: var(--blue);
    font-weight: 600;
}

@media (max-width: 576px) {
    .nav-desc {
        display: none;
    }

    .navbar .nav-btn {
        padding: 0.7rem 1rem;
    }

    .otica-info { font-size: 13px }
}