.fixed-top { 
    top: 25px;
}

.nav-btn {
    border-radius: 10px;
    padding: 4px 8px;
    transition: none;
    color: white !important;
    border: none;
    background-color: var(--blue) !important;
    /* background-image: linear-gradient(to right, #155790, #007db6, #007db6); */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}